[2012-11-22 22:41] treyhunner opened #1 "Create custom version of minimatch"
Features that needed for a functional EditorConfig glob matcher:
- `**` should match in the same way as the C and Python libraries (e.g. `**b` should match `/a/c/db`)
- `{1..9}` braces shouldn't expand
-

[2012-11-22 22:45] treyhunner opened #2 "Create custom version of iniparser"
Features that needed for a functional EditorConfig INI parser:
- The order of sections needs to be maintained (array of objects instead of an object of objects)
- The last `]` character should be matched when parsing section headers (not the first)

[2012-11-22 22:48] treyhunner opened #3 "Add a license"
An MIT license may be most appropriate.  Both minimatch and iniparser are already licensed under MIT as well.

[2012-11-22 22:53] treyhunner opened #4 "Fix command line interface"
Duplicate command line options and error handling from Python/C cores.

[2013-05-01 15:45] treyhunner opened #5 "Add cmake tests"
I'm not sure how to do this yet.

@xuhdev do you know how to get this working with a node module?

[2013-05-19 23:51] #5 closed, assigned to nobody

[2013-05-19 23:55] #3 closed, assigned to nobody

[2013-05-20 01:12] #1 closed, assigned to nobody

[2013-05-20 01:12] #4 closed, assigned to nobody

[2013-05-20 01:57] #2 closed, assigned to nobody

[2015-05-18 13:53] schorfES opened #25 "Update documentation"
The README.md is not up-to-date. For example:

[code]

The `parse` function now returns a promise.

[2015-05-18 13:58] schorfES opened #26 "Sync parse functions"
Since version 0.12 the ```parse```and ```parseFromFiles``` function returns a promise. This effects a lot of libraries/code which expects a sync parsing of the editorconfig file. A change to promises and to async handling would effect the API of those libraries. Can we expose also functions like ```parseSync``` and ```parseFromFilesSync```?

[2015-05-18 17:58] treyhunner opened #27 "Add API tests"
We do not currently have unit tests or tests for the public JavaScript API.

[2015-05-18 17:58] treyhunner commented on #26
That sounds like a good idea.  I'm happy to code review a pull request for this.

[2015-05-19 12:05] Glavin001 commented on #25
+1! I updated my dependencies and now my package, [atom-beautify](https://github.com/Glavin001/atom-beautify), is broken. Upon examination I discovered that it was returning a Promise. I am not sure what other changes have been made and undocumented, and I hope that they are all documented soon.

[2015-05-19 18:24] jedmao commented on #26
Definitely sounds like a good idea. This would also be consistent with other Node libraries. Also, I think the reason this was introduced was more of a versioning issue. We wanted the core versions to be consistent with each other, but in this case and I'm sure others, we'll need to bump the major version because it introduces breaking changes. In other words, I don't think we should be concerned

[2015-05-19 18:39] schorfES commented on #27
+1

[2015-10-19 10:52] aendrew opened #29 "Install fails on OS X"
Not sure why, this is the output. Seems it's trying to chmod a Windows-style path?

`enoent ENOENT: no such file or directory, chmod '/usr/local/lib/node_modules/editorconfig/bin\editorconfig'`

[code]

[2015-10-19 16:25] jedmao commented on #29
It looks like potentially an issue with the latest [Bluebird](https://github.com/petkaantonov/bluebird/issues) dependency.

[2015-11-09 14:40] icio commented on #29
I'm finding the same. Manually installing each of the dependencies of editorconfig (including bluebird) works fine, leading me to also suspect that the issue is with bluebird. In particular:

[code]

[2015-11-09 14:46] icio commented on #29
I also experienced this on Linux. I tried manually installing each of this package's dependencies and they all installed without any issue -- Bluebird included. This line looks particularly suspicious:

[code]

Cloning the repository and then `npm install -g .` it installed just fine.

[2015-11-09 14:51] icio commented on #29
Further, 0.12.2 specifics `{bin: {editorconfig: "bin/editorconfig"}}` and `npm install -g editorconfig@0.12.2` works just fine. The issue appears to stem from the way the package has been uploaded to the npmjs registry.

[2015-11-29 08:52] slang800 commented on #29
I'm getting the same issue on Arch Linux :cry:.

I don't think it has anything to do with bluebird because installing from git with `npm install editorconfig/editorconfig-core-js` works perfectly. But I can confirm that the info in npm's couchdb instance looks wrong:

![1448786049](https://cloud.githubusercontent.com/assets/1049204/11456117/e016618a-964a-11e5-8b6f-30c27d3f92c8.png)

And strangely,

[2015-11-29 14:18] jedmao commented on #29
@slang800, yes. I'm always running Windows. I've seen similar issues to this in the past and it seems to be a problem with npm itself, working differently across operating systems.

I just did another publish, but this time I published the [`v0.13.1.tar.gz` tagged archive](https://github.com/editorconfig/editorconfig-core-js/releases/tag/v0.13.1) instead of a direct `npm publish`. This has worked

[2015-11-29 15:21] icio commented on #29
@jedmao That hasn't resolved it. The issue still remains in the NPM registry:

[code]

And fails to install on *nix (this is on OS X):

[code]

Looks like you should report this to the npm authors and avoid publishing from Windows for the time-being.

[2015-11-29 16:54] jedmao commented on #29
@icio thanks for the advice. I added `bin` to the package.json file in v0.13.2 and published.

The previous issue I was talking about was concerning line endings and the issue is already on npm [here](https://github.com/npm/npm/issues/2097#issuecomment-31015045). It looks like this issue is different though.

[2015-11-29 16:56] jedmao commented on #29
As for avoiding publishing on Windows, I have no ability to do that, as everything in my house is Windows, including my phone :)

[2015-11-29 16:58] icio commented on #29
@jedmao I had a quick look and was unable to find another issue documenting this problem, so you might be right that this is different from any other that's been reported. Perhaps worth adding just in-case and letting them decide whether it's a duplicate.

Can confirm that the install now works on OS X.

Fair enough, appears we've got it sorted anyway. Though you could use a virtual machine to run

[2015-11-29 19:01] jedmao commented on #29
Thanks @icio. I submitted an issue to npm.

[2015-11-29 19:01] #29 closed

[2015-11-29 19:19] icio commented on #29
:+1:

[2015-12-08 15:10] kevinSuttle opened #30 "Add editorConfig preset to package.json?"
In the spirit of ESLint and Babel, would it make sense to allow editorConfig settings in package.json?
I feel like it probably doesn't, but I wanted to have it documented either way to be definitive.

[2015-12-09 15:08] kevinSuttle opened #31 "Presets"
So, instead of having a separate .eslintrc file, there are defined presets that can be leveraged via custom configuration objects in package.json, [like Gemfile, requirements.txt, etc., but for JS].

Example from airbnb: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb

**package.json**

[code]

[2015-12-11 18:25] jedmao commented on #30
That's rather JavaScript specific, which isn't really in the design goals of EditorConfig.

[2015-12-11 18:43] kevinSuttle commented on #30
@jedmao No. It's not.

Look at how YAML does it.
https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#multi-manifests

[2015-12-11 19:13] jedmao commented on #30
Ah, see, I didn't realize this was on the core-js repo. Seeing as it is, I have no problems with such a feature; though, we still need to look in subfolders for both `.editorconfig` and `package.json` files, which means the `package.json` file needs to define `"root": true` if that's the case. Then, what happens if you have both an `.editorconfig` as well as a `package.json` file in the same folde

[2015-12-11 19:32] kevinSuttle commented on #30
Tools like eslint have this exact scenario. It's just a priority order. http://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2015-12-14 16:58] jonathansamines commented on #31
I also agree with this approach, actually what we need it´s the "sharable" .editorconfig configurations and a way to use this sharable configs as a extension point for another .editorconfig file. That feature will make easier to an org to share this configuration between teams/projects without have to copy/paste this files across projects.

[2015-12-14 17:08] kevinSuttle commented on #31
http://eslint.org/docs/developer-guide/shareable-configs

[2016-01-12 19:32] kevinSuttle commented on #31
What do you think, @sindresorhus?

[2016-01-15 23:31] josiahsprague opened #32 "Ability to ignore path when included from external source"
This started out as me tracking down what I thought was a bug in `gulp-lintspaces` or `node-lintspaces`. Here is a thread that describes most of my issue: https://github.com/schorfES/node-lintspaces/issues/30

But it turns out, this may be more of a feature request, or at least a request for clarification. My ultimate goal is to use this gulp task to apply .editorconfig rules from a project depend

[2016-01-15 23:48] josiahsprague commented on #32
Maybe this line: https://github.com/editorconfig/editorconfig-core-js/blob/master/editorconfig.js#L114

Could become something like;
[code]

Willing to open a PR, but I'm not sure if this suggestion is completely misunderstanding or trying to apply this code to a situation it's not designed for.

[2016-01-16 00:03] jedmao commented on #32
I'm curious if creating a sym link to `./node_modules/@myorg/code-standards/.editorconfig` in your project root would provide the functionality that you need?

[2016-01-16 00:03] jedmao commented on #32
BTW – your code snippet looks like it would only cover *nix environments.

[2016-01-16 17:37] sindresorhus commented on #31
I like the idea in theory, but you need to define your request more clearly. Just linking to how ESLint does it is not enough. EditorConfig is a different. It's not just for JS. Present a better picture of how it will work. How would it get the `.editorconfig` file to extend from.

-

// @vdemedes

[2016-02-17 20:58] josiahsprague commented on #32
For our use case we ended up using https://github.com/AlbertoElias/gulp-lintspaces with it's built in options and we're maintaining a separate `.editorconfig` file. It's less than ideal to maintain the code standards for our org in multiple places, but since they don't change often, if ever, it's an acceptable compromise for us. The symlink solution opens up a whole can of worms of making sure tha

[2016-02-17 20:58] #32 closed

[2016-02-26 04:49] corysimmons commented on #30
Would prefer to see someone make some standard config file (or folder) for all configs to live in rather than continuing to clutter package.json with xyz.

...that said, if it does get in, I'll probably use it.

[2016-02-26 15:38] jonathantneal commented on #30
Likewise, I will use this. @jedmao, what can we do to help? Do we need to look into the plugin and make a PR for the functionality? Could someone help with documentation? I’d love to see this get in on the next release.

[2016-02-26 18:30] jedmao commented on #30
First, we need to come up with an acceptable spec. At first glance, I'm imagining something like the following:
[code]
It doesn't look as clean as the INI file format that `.editorconfig` uses, but this is the only way I could imagine supporting it in a `package.json` file.

BTW – you should theoretically be able to have any number of `package.json` files throughout your project. I would imagine t

[2016-02-26 18:34] jedmao commented on #30
Another alternative would be the following structure:
[code]

[2016-02-26 19:43] jonathantneal commented on #30
@jedmao, thanks for the fast reply!

I’m a fan of the first syntax you’ve shared, and I would expect, as you’ve said, that the `.editorconfig` file takes precedent when both it and a `package.json` are present. Would this support an `extends` property being added alongside `root` and the other rules?

[2016-02-26 21:49] jedmao commented on #30
@jonathantneal anything above existing functionality would be a separate ticket. Please open another issue for that feature request and detail how it might work.

BTW – I'm not at all suggesting I have any bandwidth to implement this `package.json` feature. I still have zero interest in the feature for my own use, so I won't be using it.

I would, however, consider merging in a PR, if it were impl

[2016-02-26 21:52] kevinSuttle commented on #30
@jonathantneal See https://github.com/editorconfig/editorconfig/issues/245

[2016-03-04 19:57] schorfES commented on #26
Oh yeah! I didn't noticed that you already fixed this in this commit bcbe8eb6c671251cea2c5a47ded1f6557cabcefe by @seka

Many Thanks!!!

[2016-03-04 19:57] #26 closed

[2016-03-17 07:19] davidbarredo opened #35 "Indent space not working propperly [Brackets]"
I have this .editorconfig:
[code]

And the plugin is taking 4 spaces for less files, if I change the css rule to:
[code]
it works

I submitted a issue in the plugin project too: https://github.com/kidwm/brackets-editorconfig/issues/8#issuecomment-197668395

[2016-03-17 15:00] jedmao commented on #35
Try...
[code]
Or...
[code]

[2016-03-18 07:12] davidbarredo commented on #35
Perfect!

[2016-03-18 07:12] #35 closed

[2016-03-28 19:16] SamVerschueren opened #36 ".parse() returns empty object if no .editorconfig was found"
I have a use case in [editorconfig-vscode](https://github.com/editorconfig/editorconfig-vscode) where `editorconfig.parse` is called for a file that has no `.editorconfig` specified. It seems that that call is returning an empty object `{}`. Shouldn't it return `undefined` instead?

[2016-03-28 22:00] jedmao commented on #36
Good point! I think that would definitely make more sense. An empty object would only make sense if an `.editorconfig` file were found, but no settings were defined for the file in question. Does that sound about right?

[2016-09-16 13:45] jonathantneal commented on #30
Hey there. What can I do to help with moving this forward? Do we still need help defining the request more clearly? We have a year of sharable configs under our belt for most if-not-all linters. Does the configuration just need an outlined JSON version? Is this something we should be writing plugins for Atom / Sublime first for?

[2016-10-30 01:19] kunagpal opened #39 "[Question] editorconfig does not load file specific configuation"
When parsed, the following `.editorconfig` file:

[code]

Returns the following object:

[code]

In other words, the `.json` and `.yml` specific rules have been left out. Is the library meant to work this way, or can the addition of the above be considered?

[2016-10-30 01:26] xuhdev commented on #39
Without a file path, we don't know which configuration you want.

[2016-11-02 00:13] wtgtybhertgeghgtwtg opened #40 "Minimum supported node version."
What is the minimum supported version of node?  Is this documented?

[2016-11-02 04:01] jedmao commented on #40
https://github.com/editorconfig/editorconfig-core-js/blob/master/.travis.yml#L5-L7

[2016-11-14 17:46] jamesarosen opened #41 "Later matching rules should override earlier ones"
Moved from sindresorhus/atom-editorconfig#151

Later rules for `insert_final_newline` aren't overriding earlier ones in the same file. According to editorconfig/editorconfig#278, they should. Note that the spec states that _later rules override earlier ones_ and not _more specific rules override more general ones_.

When I save `foo.js` using atom-editorconfig (which uses this project), the config

[2016-11-17 05:00] xuhdev commented on #25
@schorfES  I believe that the documentation has been updated a lot. is this still an issue now?

[2016-11-17 07:13] schorfES commented on #25
Yes, I think the documentation now covers all my issues. Thanks for asking, I will close this now...

[2016-11-17 07:13] #25 closed

[2016-11-22 18:10] jamesarosen commented on #41
Hmm. After some testing, I think the problem may not exist in this library.
[code]
That looks right to me.

[2016-11-22 18:10] #41 closed

[2016-12-05 13:28] ButuzGOL commented on #30
+

[2017-01-06 20:05] ahmadnassri commented on #40
should probably create a new major version and limit to > 4.x as that is now the minimum LTS

[2017-01-17 14:59] bfred-it opened #42 "Should * include binary files?"
EditorConfig's `*` applies to all files, but should it?

[code]

Does this make sense or should it output nothing on binary files?

Should the editor/tool have to include this check instead?

[2017-01-17 15:28] jedmao commented on #42
Please open an issue on the main EditorConfig repo. Sorry for the confusion, but this doesn't just concern the js core. It concerns all EditorConfig plugins.

https://github.com/editorconfig/editorconfig/issues

[2017-01-17 15:28] #42 closed

[2017-01-17 19:41] xuhdev commented on #42
It seems to me that editors themselves should ignore these settings for text files, no matter how they are set by the plugins. Which editor are you using? I would rather report the issue to the editor developers.

[2017-01-17 21:13] jedmao commented on #42
@xuhdev what do you mean "for text files"? The request here is to have EditorConfig ignore binary files. This would be relevant for all cores to somehow detect whether a file is a binary type or not.

[2017-01-17 23:40] bfred-it commented on #42
The tool I'm using told me that EditorConfig itself should take care of this: https://github.com/jedmao/eclint/issues/45#event-925881562

[2017-01-17 23:55] xuhdev commented on #42
@jedmao What I meant was, an option such as `indent_size` is not meaningful for binary files. When the plugin sets the corresponding editor option, the editor itself should handle it well by ignoring it -- it ought not to be the responsibility of the plugins nor the cores, except perhaps a few exceptions. Does it make sense?

[2017-01-18 06:20] jedmao commented on #42
Ahh, @xuhdev I see what you mean now and I'm inclined to agree w/ you. Even better is that this is already how things work today; thus, there's nothing to do here.

That said, @bfred-it, one thing you can do to ignore binary files is this:

[code]

See https://github.com/editorconfig/editorconfig/issues/285#issuecomment-267400370

[2017-01-18 06:30] bfred-it commented on #42
Where? This issue is about _not_ excluding binary files manually

[2017-01-18 06:41] xuhdev commented on #42
I think this is really an issue of eclint... I tend to consider that eclint should automatically detect binary files. [mime-types](https://www.npmjs.com/package/mime-types) may be helpful for this job.

[2017-01-25 18:23] userpixel opened #43 "Parse string"
I like [editorconfig-parser](https://www.npmjs.com/package/editorconfig-parser) but I rather use the official one. Turns out [you have that function](https://github.com/editorconfig/editorconfig-core-js/blob/master/lib/ini.js#L65) it's just [not documented](https://github.com/editorconfig/editorconfig-core-js/blob/master/README.md).

Is it not safe to use? Is it just missing from the docs?
I'd be

[2017-01-25 18:58] jedmao commented on #43
Totally safe to use, just not documented. That would be awesome if you submitted a PR, thanks!

[2017-01-25 21:57] userpixel commented on #43
on it 👍

[2017-01-25 22:36] #43 closed

[2017-01-25 22:37] userpixel opened #45 "remove cmake"
While contributing #44 I noticed we are using `cmake` which wasn't available on my machine by default.
If you're interested I can refactor a bit to remove this dependency in another PR?
The thing is, I need to parse editor config in a project that I'm working on and it'll be much easier if the whole thing can be done in node only. :) Will gladly help if needed.

[2017-01-25 23:22] jedmao commented on #45
It's only the tests that use `cmake` though. And those tests are shared between different cores, the others being non-JavaScript, of course. How do you propose removing the `cmake` dependency?

[2017-04-09 08:59] andreiglingeanu commented on #30
I would love to contribute somehow on getting this thing moving! There's really no other way to re-use `.editorconfig`'s across multiple repos.

[2017-04-10 02:24] jedmao commented on #30
Nope. No other way. And remember, this is just for the js core. Other cores would need some kind of implementation too. I think we should stay focused on the OP's request and just support configuration in a package.json file for now and then start worrying about how the "extends" feature would work.

[2017-04-10 06:04] andreiglingeanu commented on #30
@jedmao Every _core_ has its own options parsing code duplicated? That is, `.editorconfig` is pretty much hardcoded in each of them, right?

[2017-04-10 13:18] jedmao commented on #30
Yes, it has to be duplicated because the cores are written in different languages. The only thing that's not duplicated are the tests, which are shared across cores.

[2017-04-10 14:28] andreiglingeanu commented on #30
Seems reasonable enough, thanks.

[2017-05-02 22:27] jamesarosen commented on #41
I think the issue was having [atom's whitespace package](https://github.com/atom/whitespace) installed.

[2017-08-05 14:52] platinumazure opened #46 "parseString is documented but not on public API"
Am I missing something? The README.js [mentions a `parseString()` function in the public API](https://github.com/editorconfig/editorconfig-core-js/blob/09929eb84ee65b2426d5783881e68b75f4f5f2bb/README.md), but I can't actually use it:

[code]

Are there plans to expose this on the public API? (I would love to see it out there and am happy to write a pull request if it would be accepted.)

[2017-08-07 18:07] jedmao commented on #46
It's definitely supposed to work. See https://github.com/editorconfig/editorconfig-core-js/blob/master/lib/ini.js#L43.

[2017-08-07 18:53] platinumazure commented on #46
Hi @jedmao, thanks for the fast reply. It is true that `parseString` is exposed from lib/ini.js, but it is not exposed in the main file and that file is what gets imported when you do `require("editorconfig")`.

If you definitely want it to be exposed, I'm happy to write a PR to expose it from the main file. Let me know.

[2017-08-07 18:57] jedmao commented on #46
Oh, good point. I think if there's a practical use case for it to be used externally then it could do no harm, but I have to ask, what is your use case?

[2017-08-07 19:50] platinumazure commented on #46
@jedmao I'm writing a plugin for [ESLint](http://eslint.org), which is a JavaScript linting tool. This plugin will read .editorconfig files and convert (a subset of) the property keys/values into ESLint stylistic rule configurations. This would allow users to simply use their .editorconfig for configuring ESLint's stylistic rules (where there is a clear equivalent in .editorconfig).

The exposed A

[2017-08-07 20:07] jedmao commented on #46
It makes sense but it's concerning because it's completely backwards from the way EC parses files, as you know. With EC any overrides would be applied higher up the directory structure, not lower as you have it. I'm afraid users would be extremely confused at the results and it would cause a lot of issues. What do you think?

[2017-08-07 20:28] platinumazure commented on #46
@jedmao Apologies, I might have introduced some confusion by going into too much detail. I do plan to work within ESLint's capabilities to ensure the correct overrides are applied. It so happens that ESLint will apply configurations such that the bottom ones override the top ones. In other words, the nested .editorconfig will override the top-level .editorconfig. Hope this makes sense.

[2017-08-07 20:39] jedmao commented on #46
I think as long as that strategy is only applied for ESLint settings it should be fine. Feel free to submit a PR.

[2017-08-09 13:45] platinumazure commented on #40
@jedmao So as it turns out, the Travis tests are now failing (in 0.10/0.12) due to the use of object shorthand in the main API file. I'm happy to write a PR to get the tests passing in those versions if you like and you could cut a new patch release; then if you want to support newer versions of node, that could be done in a minor release (if we want to keep compatibility for 0.10/0.12) or a major

[2017-08-09 17:38] jedmao commented on #40
@platinumazure yeah let's ditch 0.10 and 0.12 and move on over to v4 and above. PRs are appreciated.

[2017-08-12 19:51] #46 closed

[2017-09-01 02:01] vvakame opened #54 "Let's bump to v1.0.0!"
I think this package became a stable. isn't it?

[2017-10-07 11:21] Profpatsch opened #55 "package.json: "bin" and "dependencies.bin" are exclusive."
According to [the spec](https://docs.npmjs.com/files/package.json#directories) declaring both is an error.

[2017-10-21 01:16] jedmao commented on #54
No. If you updated the tests subproject you'll see there are 4 tests that this core does not support. Unfortunately, the fnmatch.js file is a bit crazy, so I'm not sure how to fix. Also, I'm on Windows and the tests are a bit finicky.

[2017-10-21 01:17] jedmao commented on #45
Closing due to no activity.

[2017-10-21 01:17] #45 closed

[2017-10-21 01:18] jedmao commented on #40
Dropped support for Node v4 in v15 of this package.

[2017-10-21 01:18] #40 closed

[2017-10-21 01:19] jedmao commented on #39
You want this:
[code]

[2017-10-21 01:19] #39 closed

[2017-10-21 01:20] jedmao commented on #36
Closing due to no recent activity.

[2017-10-21 01:20] #36 closed

[2017-10-21 01:21] jedmao commented on #31
Closing due to no recent activity.

[2017-10-21 01:21] #31 closed

[2017-10-21 01:25] jedmao commented on #30
I just did a pretty hefty rewrite of the source code into TypeScript. Anyone interested in taking this feature further? Been a bit of silence.

[2017-10-21 01:26] jedmao commented on #55
Thanks. I'll look into fixing this soon.

[2017-10-21 03:11] #55 closed

[2017-10-23 19:40] andreiglingeanu commented on #30
I'd love to hop in to help a bit but I'm not really able to get the local dev setup working. The local `bin/editorconfig` definitely doesn't get created after doing `npm install; npm link`. Is that something easily fixable?

[2017-10-23 20:58] jedmao commented on #30
@andreiglingeanu I think the issue you are experiencing is related to https://github.com/editorconfig/editorconfig-core-js/issues/55. Perhaps we should do it the other way and remove the `./bin` folder from package.json and restore the `./bin/editorconfig`.

[2017-10-24 06:52] andreiglingeanu commented on #30
Hey @jedmao, yes, that it is. The `bin/editorconfig` file did not get generated at all in my local setup.

[2017-10-24 23:25] jedmao commented on #30
@andreiglingeanu, aha! See #60. Now that the `package.json` file expects to be published in the `./dist` folder, that's where the `npm link` command needs to be run. Make sense?

[2017-10-25 06:20] andreiglingeanu commented on #30
We are good to go! Expect the pull request soon.

[2018-01-19 12:06] mighty-pirate opened #62 "Syntax"
I am currently in the process creating various PRs to add a syntax property as per https://github.com/editorconfig/editorconfig/issues/190

The idea is that a comma delimited string can be set to allow for the different language identifiers in different editors.

`syntax = cpp14,cpp`

The reasons for using a comma separated list are firstly, so there is a fallback if a syntax type cannot be found,

[2018-02-19 23:26] BtM909 commented on #30
Maybe I'm late to the party, but would this adhere to the [cosmiconfig configuration file spec](https://github.com/davidtheclark/cosmiconfig)?

One of the main reasons to avoid a mandatory "root": true would be that it

Secondly, it would make it easier to adapt the other (defacto) standard to support different types of configuration files.

Thirdly, priority of configuration files can also be con

[2018-02-20 06:55] jedmao commented on #30
@BtM909 I was looking at [`package-json`](https://www.npmjs.com/package/package-json) myself, but it looks like [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig) has a bit more popularity. Not sure the delta between them.

As for other configuration file formats. What did you have in mind?

[2018-04-14 17:57] gucong3000 opened #65 "npm WARN deprecated"
[code]

[2018-04-14 17:58] gucong3000 commented on #65
[code]

[2018-06-12 15:58] josephfrazier commented on #65
Looks like `@types/commander` was removed from this project in 59f3ab29ff4cfc67591135d0ae569189405ba0b9, so we'd need to:

1. Publish a new version of `editorconfig`
2. Upgrade `eclint` to the new `editorconfig`
3. Upgrade `editorconfig` to the new `eclint`
4. Publish a new version of `editorconfig`

[2018-06-25 13:09] BtM909 commented on #30
Sorry, completely missed your update... My apologies!

What formats are you specifically referring to? I was just references the fact that cosmiconfig supports multiple file formats by default, like:

- a package.json property
- a JSON or YAML, extensionless "rc file"
- an "rc file" with the extensions .json, .yaml, .yml, or .js.
- a .config.js CommonJS module

[2018-08-16 14:43] JounQin opened #69 "Why `@types/node` and `@types/semver` are in `dependencies`?"
As title.

[2018-08-16 19:34] jedmao commented on #69
I forget where, but Microsoft suggests all `@types/xxx` be installed as dependencies and _not_ dev dependencies. I can't find the post right now though and, quite honestly, I'm not sure I 100% agree w/ the recommendation.

[2018-08-16 22:45] JounQin commented on #69
I can't see any benefit for it.

[2018-08-16 22:51] jedmao commented on #69
I totally agree with you and [this guy](https://stackoverflow.com/a/46011417/129847).

[2018-08-27 20:10] igrayson commented on #69
The example you've linked is an argument for declaring types in your `dependencies` which you re-export as part of your interface (i.e., typings required for your consumers to understand your interface).

editorconfig does not expose any `semver` (or `node`?) typings on its interface.

Adding `@types/semver` to our dependency closure broke our build in a fashion entirely unrelated to editorconfig.

[2018-08-31 06:28] eknowles commented on #69
it should be removed, @types/commander also

[2018-09-05 13:28] josephfrazier commented on #65
I don't know anything new (nor do I have any relevant push/publish permissions), just what's above :/

[2018-10-13 17:10] #65 closed

[2018-10-13 17:13] jedmao commented on #65
Published v0.15.1.

[2018-10-14 01:46] lucascono opened #71 "Main file has not been compiled. Only typescript files are."
With version `0.15.1`, all packages that have dependency `^0.15`, throw the error: "Can not find module `editorconfig`. In the package published in NPM there are only typescript files.

[2018-10-14 03:51] jedmao commented on #71
Fixed in https://github.com/editorconfig/editorconfig-core-js/pull/72

[2018-10-14 03:51] #71 closed

[2018-10-23 16:23] #69 closed

[2019-02-21 07:27] jsamr opened #74 "Please release commit 188a8e4bda06f2653557fa28c8bacc549e10645b"
I'm being affected by the #69 issue very indirectly (with `react-native-version`, which depends on `js-beautify`, which depends on `editorconfig`) because **the global namespace is being invaded by node types, which conflicts with react-native globals**.

You are absolutely right that you should publish type dependencies, **except those who pollute the global namespace**. Anyway, would be great to

[2019-03-05 16:41] bard commented on #74
Same here, I tried to build an ES5-only TypeScript project with parcel and suddenly non-ES5 code started compiling silently, because parcel depends on -> serialize-to-js -> js-beautify -> editorconfig. Please consider releasing.

[2019-03-06 17:55] jedmao commented on #74
Published as v0.15.3.

[2019-03-06 17:55] #74 closed

[2019-04-23 09:58] mattgreenfield commented on #30
@andreiglingeanu  - did you ever make the pull request for this? Thanks for your help.

[2019-09-11 10:33] JoseluGames opened #77 ""editorconfig FILEPATH1" not formatting the file on MacOS"
I have Node.js v12.10.0 and EditorConfig v0.15.3 installed, macOS Mojave v10.14.6 and trying to format a document using the command line seems to be doing nothing.

This my .editorconfig file:
https://pastebin.com/uxdGjssU

[2019-09-11 15:24] jedmao commented on #77
EditorConfig doesn't format files. I'm afraid you've submitted this issue to the wrong project. What command are you running to format a file? Submit the issue to that project instead.

[2019-09-11 15:24] #77 closed

[2019-10-31 11:45] xavierfoucrier opened #79 "Ability to retrieve the current configuration file path"
Currently, there is no way to know which `.editorconfig` file is used when getting the configuration using `parseSync`: if we try to load the configuration from a path when there is no `.editorconfig` file, the package will travel through the file system to search for another `.editorconfig` file and finally retrieve the read configuration.

It should be great to be able to retrieve the configurat

[2019-10-31 14:44] jedmao commented on #79
There may be more than one `.editorconfig` file that was merged into the final configuration, so it would have to be a list of files.

[2019-10-31 14:48] xavierfoucrier commented on #79
Hi @jedmao,

You are right, I am OK with that :wink:
Thanks for the fix.

[2019-11-07 01:31] npetruzzelli opened #84 "Negation in section name glob not working"
I'm looking over the code in `fnmatch.js` to see whether or not I can feasibly fork this and take on a bug I've encountered, but I've hit a bit of a wall.

I've encountered some things I don't recognize neither from ES6+ nor TypeScript. I am a novice in typescript, but the file I'm looking at is plain JavaScript, so I am scratching my head.

https://github.com/editorconfig/editorconfig-core-js/blo

[2019-11-07 08:13] jedmao commented on #84
Yeah, that sounds a bit surprising to me too, considering all the cores run the same tests.

Anyway, the code that you couldn't figure out is called [labels](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Statements/label). They are used quite rarely in JavaScript, but they are useful in nestted loop situations where you want to break out of a specific loop.

I think the first step

[2019-11-08 22:38] npetruzzelli commented on #84
Thanks Jed.

_(English link to [labels](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/label) for those that want/need it)_

I'll have a look at the core tests, but it will likely be a long time until I come back with an update. The bulk of my experience is JavaScript and a bit of PHP with some other languages here and there. I'm fine with stepping out of my comfort z

[2019-11-09 00:33] jedmao commented on #84
Yes. That’s exactly what the `.in` files are for. yes, you’re on the right track.

[2019-12-16 06:14] MicahZoltu opened #85 "Single item wildcard set not applied correctly."
[code]
### Actual Behavior:
[code]
### Expected Behavior:
[code]
### Workaround
Change `[*.{ts}]` to `[*.ts]` or to `[*.{ts,js}]`.  The problem here appears to be that a set with a single item in it doesn't properly match items.  You need to have at least two items in the set for it to match.

[2019-12-18 05:37] jedmao commented on #85
You don't need to have at least two items, but you do need to have a comma. This is by design. I don't love it myself, but it's by design. Also, this is not specific to the JS core, but all cores. You can see the tests [here](https://github.com/editorconfig/editorconfig-core-test/blob/master/glob/braces.in).

[2019-12-18 05:37] #85 closed

[2019-12-18 05:39] jedmao commented on #85
Feel free to open up an issue [here](https://github.com/editorconfig/editorconfig/issues), arguing that this scenario should be supported, because it probably should be, IMO.

[2019-12-18 06:52] MicahZoltu commented on #85
Hmm, I'm not sure how to read those tests:
[code]
This suggests to me that single choice _is_ supported, but I may be reading it wrong.

[2019-12-18 14:37] jedmao commented on #85
It does seem that way. Unfortunately, this repo doesn’t have CI set up yet, so there’s no way to submit a breaking test PR. Even if it did, it would probably just be testing one of the cores like the C core.

[2019-12-18 14:38] jedmao commented on #85
Honestly, we need a way to run tests across all cores.

[2020-04-01 01:06] medikoo opened #86 "Broken resolution for paths that include `[` characters"
I've discovered that `.editorconfig` settings are not discovered in paths as e.g. `/Volumes/[C] 10 Edge/Users/xxx/some-package` (on my side it's the path on which I can access Windows disk as exposed by [Parallels Desktop](http://parallels.com/))

I assume it's because of `[` characters.

### How to reproduce

#### 1. Prepare same `.editorconfig` file in following two folders as e.g.
- `/Users/xxx

[2020-04-30 07:32] radum commented on #86
I was just debugging the same problem and I found this. I can confirm I have the same problem. I will try to see if there is something we can do.

[2020-04-30 12:00] radum commented on #86
Tracked it down to `minimatch` variant we are using in fnmatch.js.

[code]

And so the entire module breaks.

[2020-05-18 16:41] jedmao commented on #86
Yeah. I don't love that this project has variations to minimatch.

[2020-09-05 21:46] ColdHandz commented on #30
Is there any movement on this feature?

[2021-07-17 18:18] el777 opened #92 "Match of multiple files with brace expansion notation does not work with one extension"
The following config will match a `.js` file
[code]
whereas
the following will not:
[code]

Expected behavior is `[*.{js}]` would match a `.js` file which is the behavior in other editorconfig core libraries.

[2021-08-05 23:39] dibianalvarez commented on #79
![Uploading 5AE24468-AD19-4D9F-93B2-2A87CD3939C9.png…]()

[2021-09-17 07:29] JamieSlome opened #94 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2022-04-03 17:20] lucasvazq commented on #30
bump

[2022-06-12 18:30] SrBrahma commented on #30
Up! I hate small files cluttering my workspace. It could really be in the package.json.

[2022-06-16 11:58] ColtHands commented on #30
@lucasvazq @SrBrahma

Its not hard to implement this feature, but the main problem is that this repo is long dead, it uses really old versions and heck even `tslint` which has been long dead as well.

Only way for me to implement a feature is to fork it and create a new package, even if the code itself would be easy to implement, I'd be stuck with version bumping, security issues and manual versio

[2022-09-03 19:21] hildjj commented on #94
If this is still an issue in https://github.com/cto-af/editorconfig-core-js, please see:

https://github.com/cto-af/editorconfig-core-js/blob/main/SECURITY.md

[2022-09-03 20:32] hildjj commented on #79
@xavierfoucrier see https://github.com/cto-af/editorconfig-core-js/pull/7 and see if this API would work for you.  I put an array of applied file paths in a `editorconfig.FILES` symbol on the returned object.  Many uses of the object will just ignore the symbol, and you can look for it if you want it:

[code]

I'd be happy to make a dedicated API instead (to guarantee backward-compat), but this se

[2022-09-05 07:14] xavierfoucrier commented on #79
@hildjj thanks for the fix, unfortunately I have no time right now to check.

I will also prefer to check implementation on the official editorconfig project instead.
Feel free to make a PR on the editorconfig-core-js repo :wink:

[2022-10-10 20:41] hildjj commented on #27
Fixed in #105

[2022-10-10 20:41] #27 closed

[2022-10-10 20:47] hildjj commented on #30
OK, we're back up and running.  I'm looking through open issues before doing a release.  Does anyone still want this?

[2022-10-10 20:49] hildjj commented on #54
As of #105, everything works on windows with the latest tests, except for `braces_closing_in_beginning`, which I think is incorrect in the test suite.  My plan is to close out existing issues, then work toward a 1.0 release.

[2022-10-10 20:49] #94 closed

[2022-10-10 21:12] hildjj commented on #79
@xavierfoucrier See #107 please.  I'm interested in feedback before I merge it.

[2022-10-10 21:49] hildjj commented on #84
We're now using a standard version of minimatch, for better or worse, but I don't think this issue is related to minimatch.  Instead, I think @npetruzzelli is on the right track that it's how we modify the glob before it gets executed.

minimatch's docs are a little... sparse, so it's hard for me to tell why this doesn't work:

[code]

but if we can figure out what should go in the glob in this ex

[2022-10-11 06:09] xavierfoucrier commented on #79
@hildjj unfortunately no time on my side for that right now, sorry.

[2022-10-11 14:39] jrnewton commented on #30
Yes please!

[2022-10-11 14:53] hildjj commented on #92
This is by design, in order to be compatible with bash.  See https://github.com/juliangruber/brace-expansion/issues/56#issuecomment-918963909.

(we use minimatch, which uses brace-expansion for this piece of functionality)

I think I agree with the logic, so I'm going to close this.  But feel free to comment more and we'll reopen it if we come up with a good argument.

[2022-10-11 14:53] #92 closed

[2022-10-11 18:32] jonathantneal commented on #30
Likewise, I will use this.

[2022-10-11 19:15] #86 closed

[2022-10-11 20:52] HolgerJeromin commented on #30
We also have no rule order. I am not sure if this is important but I have this scenario in mind:
[code]

[2022-10-11 21:36] hildjj commented on #30
Given that order needs to matter, ParseStringResult is probably the correct type.  Its typescript definition is:

[code]

[2022-10-15 15:29] hildjj commented on #54
My plan is to merge #107 and #109 in that order, then do a 1.0 release.  Since those change the README file, I don't want to have a long soak time between landing them and doing a release.

If anyone disagrees with that approach, please speak up.

[2022-10-17 19:36] hildjj commented on #54
Hearing no objections, I'm moving forward with this plan this afternoon.

[2022-10-17 19:37] #79 closed

[2022-10-17 20:23] #54 closed

[2022-10-17 20:30] hildjj commented on #54
Publishing the package is waiting on authorization bits, which I should have known to get done beforehand.

[2022-10-17 20:59] hildjj commented on #54
Version 1.0.0 published, release created on GitHub.

[2022-10-20 14:25] xavierfoucrier commented on #79
@hildjj Finally, I took the time to have a look: it works great! Thanks for the fix :tada:

[2022-10-25 11:10] viceice opened #111 "RuntimeError: unreachable"
[code]

not sure why this happen

- ref https://github.com/renovatebot/renovate/issues/18540

[code]

[2022-10-25 11:25] viceice commented on #111
Added config file, which is causing the error

[2022-10-25 11:57] viceice commented on #111
It seems this file also triggers the issue (empty comment)

[code]

[2022-10-25 18:11] hildjj commented on #111
Will look into this ASAP.

[2022-10-25 21:14] #111 closed

[2022-10-25 21:19] hildjj commented on #111
Published in editorconfig@1.0.1

[2022-10-26 05:55] viceice commented on #111
thanks for quick fix

[2022-11-03 01:07] Lioness100 commented on #30
Is there any way shareable configs could be added to this? (like: `"editorConfig" : { "extends": ["some-package", "./local.json"] }`)